:root {
  --spinner-size: 5rem;
  --dot-size: calc(var(--spinner-size) / 5);
  --duration: 3s;
  --delay: calc(var(--duration) / 60);
}

.image__background2 {
  background-image: url("../src/img/aboutus.jpg");
}
.image__background {
  background-image: url("../src/img/aboutus.jpg");
}

html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0.8em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #2b21a3;
  outline: 1px solid rgba(53, 136, 76, 0.191);
  border-radius: 15%;
}

.button1 {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #1842b7;
  background-color: #2154e3;
}

.button1,
.button1__icon,
.button1__text {
  transition: all 0.6s;
}

.button1 .button__text {
  transform: translateX(0px);
  color: #fff;
  font-weight: 600;
}

.button1 .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: #2154e3;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 1px;
}

.button1 .svg {
  width: 30px;
  stroke: transparent;
}

.button1:hover {
  background: #2154e3;
}

.button1:hover .button__text {
  color: transparent;
}

.button1:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button1:active .button__icon {
  background-color: #4c1d95;
}

.button1:active {
  border: 1px solid #4c1d95;
}
.button2 {
  border: none;
  width: 140px;
  height: 50px;
  color: #fff;
  z-index: 1;
  display: flex;
  background: #3b82f6;
  position: relative;
  cursor: pointer;
}

.button2 p {
  margin: 0 auto;
  align-self: center;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.button2::after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: -1;
  height: 10%;
  bottom: 0;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: #2154e3;
  transition: 0.2s ease;
}

.button2::before {
  position: absolute;
  content: "";
  /*   bottom: 80%; */
  transform: rotate(180deg);
  width: 100%;
  height: 10%;
  transition: 0.2s ease;
  /*   bottom:; */
  z-index: -1;
  clip-path: polygon(
    0% 74%,
    4% 75%,
    8% 76%,
    11% 77%,
    15% 78%,
    20% 78%,
    25% 77%,
    32% 77%,
    37% 75%,
    40% 74%,
    43% 74%,
    46% 73%,
    52% 72%,
    57% 72%,
    65% 74%,
    66% 75%,
    71% 78%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  background: #2154e3;
}

.button2:hover::after {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 80%;
}

.button2:hover::before {
  clip-path: polygon(
    0 30%,
    9% 34%,
    7% 39%,
    11% 43%,
    13% 33%,
    17% 30%,
    24% 34%,
    25% 35%,
    30% 31%,
    30% 38%,
    39% 33%,
    35% 43%,
    43% 45%,
    55% 46%,
    65% 74%,
    67% 66%,
    81% 57%,
    75% 82%,
    81% 86%,
    83% 88%,
    88% 91%,
    90% 94%,
    94% 96%,
    98% 98%,
    100% 100%,
    82% 100%,
    0 100%
  );
  height: 80%;
}
.button3 {
  margin: 15px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1842b7;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #1842b7;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #2154e3;
}

.button3:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #2154e3;
}

.button3:active {
  transform: scale(0.9);
}
.instagram:hover {
  color: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.letter-image {
  position: absolute;
  top: 20%;

  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
}
.animated-mail .body {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent #2154e3 transparent;
  z-index: 2;
}
.animated-mail .top-fold {
  position: absolute;
  top: 50px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 100px 0 100px;
  -webkit-transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  -moz-transform-origin: 50% 0%;
  -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  transform-origin: 50% 0%;
  transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
  border-color: #1842b7 transparent transparent transparent;
  z-index: 2;
}
.animated-mail .back-fold {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 100px;
  background: #1d4ed8;
  z-index: 0;
}
.animated-mail .left-fold {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 0 50px 100px;
  border-color: transparent transparent transparent #1c49c9;
  z-index: 2;
}
.animated-mail .letter {
  left: 20px;
  bottom: 0px;
  position: absolute;
  width: 160px;
  height: 60px;
  background: white;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: 0.4s 0.2s;
  -moz-transition: 0.4s 0.2s;
  transition: 0.4s 0.2s;
}
.animated-mail .letter .letter-border {
  height: 10px;
  width: 100%;
  background: repeating-linear-gradient(
    -45deg,
    #1d4ed8,
    #1d4ed8 8px,
    transparent 8px,
    transparent 18px
  );
}
.animated-mail .letter .letter-title {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 40%;
  background: #1d4ed8;
}
.animated-mail .letter .letter-context {
  margin-top: 10px;
  margin-left: 5px;
  height: 10px;
  width: 20%;
  background: #1d4ed8;
}
.animated-mail .letter .letter-stamp {
  margin-top: 30px;
  margin-left: 120px;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  background: #1d4ed8;
  opacity: 0.3;
}

.shadow {
  position: absolute;
  top: 140px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);
  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

.letter-image:hover .animated-mail {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
}
.letter-image:hover .animated-mail .top-fold {
  transition: transform 0.4s, z-index 0.2s;
  transform: rotateX(180deg);
  -webkit-transition: transform 0.4s, z-index 0.2s;
  -webkit-transform: rotateX(180deg);
  -moz-transition: transform 0.4s, z-index 0.2s;
  -moz-transform: rotateX(180deg);
  z-index: 0;
}
.letter-image:hover .animated-mail .letter {
  height: 180px;
}
.letter-image:hover .shadow {
  width: 250px;
}

.wrap {
  position: absolute;
  width: 100px;
  height: 200px;
  left: 50%;
  margin-left: -50px;
  top: 12%;
  margin-top: -100px;
}

.drop {
  width: 40px;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  position: absolute;
  animation: drop 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s infinite;
}

.drop circle {
  fill: #2a96ed;
}

.drop-outer {
  position: absolute;
  box-sizing: border-box;
  /* border: 1px solid #333; */
  width: 100px;
  height: 200px;
  overflow: hidden;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  background-clip: padding-box;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.ripple {
  position: absolute;
  box-sizing: border-box;
  width: 240px;
  height: 240px;
  top: 68px;
  left: -70px;
  perspective: 100;
  transform: rotateX(65deg);
}

.ripple .ripple-svg {
  position: absolute;
  width: 240px;
  height: 240px;
  opacity: 0;
}

.ripple .ripple-svg circle {
  fill: none;
  stroke: #2a96ed;
  stroke-width: 10px;
  stroke-alignment: inner;
}

.ripple-1 {
  animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-1 .ripple-svg {
  animation: fade-in-out 2s linear 0s infinite;
}

.ripple-1 .ripple-svg circle {
  animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s infinite;
}

.ripple-2 {
  animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
}

.ripple-2 .ripple-svg {
  animation: fade-in-out 2s linear 0.2s infinite;
}

.ripple-2 .ripple-svg circle {
  animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s infinite;
}

.ripple-3 {
  animation: ripple 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
}

.ripple-3 .ripple-svg {
  animation: fade-in-out 2s linear 0.35s infinite;
}

.ripple-3 .ripple-svg circle {
  animation: border 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.35s infinite;
}

@keyframes drop {
  0% {
    transform: scale3d(0.01, 0.01, 0.01) translateY(0);
  }
  10% {
    transform: scale3d(1, 1, 1);
  }
  44% {
    transform: scale3d(1, 1, 1) translateY(200px);
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(200px);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  42% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2);
  }
  42% {
    transform: rotateX(65deg) scale3d(0.2, 0.2, 0.2);
  }
  100% {
    transform: rotateX(65deg) scale3d(0.9, 0.9, 0.9);
  }
}

@keyframes border {
  0% {
    stroke-width: 6px;
  }
  42% {
    stroke-width: 6px;
  }
  100% {
    stroke-width: 2px;
  }
}

@-webkit-keyframes rotate {
  from {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0)
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  45% {
    transform: translateX(0)
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  50% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  70% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  75% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(0);
  }
  95% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(0);
  }
}

@keyframes rotate {
  from {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(0)
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  45% {
    transform: translateX(0)
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  50% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  70% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(calc(var(--spinner-size) - var(--dot-size)));
  }
  75% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(0);
  }
  95% {
    transform: translateX(calc(var(--spinner-size) - var(--dot-size)))
      translateY(0);
  }
}

.spinner {
  position: absolute;
  top: 60%;
  left: 50%;
  height: var(--spinner-size);
  width: var(--spinner-size);
  transform: translateX(-50%) translateY(-50%);
}

.spinner > .dot {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: url("#goo");
}

.spinner > .dot:nth-of-type(1):before {
  -webkit-animation-delay: var(--delay);
  animation-delay: var(--delay);
}

.spinner > .dot:nth-of-type(2) {
  transform: rotate(90deg);
}

.spinner > .dot:nth-of-type(2):after {
  -webkit-animation-delay: calc(var(--duration) / 12);
  animation-delay: calc(var(--duration) / 12);
}

.spinner > .dot:nth-of-type(2):before {
  -webkit-animation-delay: calc(var(--duration) / 12 + var(--delay));
  animation-delay: calc(var(--duration) / 12 + var(--delay));
}

.spinner > .dot:nth-of-type(3) {
  transform: rotate(180deg);
}

.spinner > .dot:nth-of-type(3):after {
  -webkit-animation-delay: calc(var(--duration) / 6);
  animation-delay: calc(var(--duration) / 6);
}

.spinner > .dot:nth-of-type(3):before {
  -webkit-animation-delay: calc(var(--duration) / 6 + var(--delay));
  animation-delay: calc(var(--duration) / 6 + var(--delay));
}

.spinner > .dot:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #130194;
  height: calc(var(--dot-size));
  width: calc(var(--dot-size));
  border-radius: 50%;
  -webkit-animation: rotate var(--duration) linear infinite;
  animation: rotate var(--duration) linear infinite;
}

.spinner > .dot:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #130194;
  height: var(--dot-size);
  width: var(--dot-size);
  border-radius: 50%;
  -webkit-animation: rotate var(--duration) linear infinite;
  animation: rotate var(--duration) linear infinite;
}
